.quick_actions{

 border: 2px solid grey;
 border-radius: 4px;
 margin-left: 20%;
 
}

.action_options{
 border: 10px solid green;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
  margin: 10px;
}
.row1, .row2{
 /* border: 5px solid pink; */
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.action{
 border: 2px solid rgb(231, 34, 34);
  border-radius: 4px;
  margin: 30px;
  display: block;
  width: 100px;
}