:root {
    --Task-Row-Padding-X:15px;
    --Task-Row-Padding-Y:15px;
    --Task-Row-Transparency:50%;
    --Task-Name-Padding-Y:0.5em;
    --Task-Name-Padding-X:1em;
    --Task-Action-Btn-Padding-Y:0.5em;
    --Task-Action-Btn-Padding-X:1em;
    --Task-Row-Spacing:15px;
}

.task_page {
    position:absolute;
    top:0;margin-top:var(--Navbar-Height);
    left:0;margin-left:calc(var(--Sidebar-Width) + var(--Screen-Margins-X));
    width:calc(100% - var(--Sidebar-Width) - (var(--Screen-Margins-X) * 2));
}

.my_task_board {
    border-radius:var(--Corner-Rounding);
    overflow:hidden;
}

.board_columns {
    
}

.columns_names {
    background:var(--Primary);
    color:var(--Background);
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:0 var(--Table-Columns-Spacing);
    place-items:center;
    font-family:"Brevia Medium";
}

.columns_names p {
    margin:0;
    padding:var(--Table-Headers-Padding-Y) var(--Table-Headers-Padding-X);
}

.board_list {
}

.board_list p {
 font-weight: bold;
 text-decoration: underline;
 margin: 15px;
}

.task {
    display:flex;
    justify-content:space-between;
    margin:0!important;
    padding:var(--Task-Row-Padding-Y) 0;
    background:rgba(var(--Background-RGB), calc(100% - var(--Task-Row-Transparency)));
    margin:0!important;
    border:none!important;
    border-radius:var(--Corner-Rounding);
    cursor:pointer;
}

.task + .task {
    margin-top:var(--Task-Row-Spacing)!important;
}

.task > p {
    margin:0!important;
    margin-left:var(--Task-Row-Padding-X)!important;
    border:2px solid var(--Gray);
    padding:var(--Task-Name-Padding-Y) var(--Task-Name-Padding-X);
    border-radius:var(--Corner-Rounding);
    font-weight:normal!important;
    text-decoration:none!important;
    color:var(--Text-Color);
}

.task > .open_task,
.task > .check_task {
    margin-right:var(--Task-Row-Padding-X)!important;
}

.open_task, .check_task {
    text-transform:capitalize;
    width:auto!important;
    height:auto!important;
    background:var(--Primary-Medium)!important;
    border-radius:var(--Corner-Rounding)!important;
    color:var(--Background)!important;
}

.open_task {    
    text-align:center;
}

.open_task p {
    margin:0!important;
    padding:var(--Task-Action-Btn-Padding-Y) var(--Task-Action-Btn-Padding-X);
    text-decoration:none!important;
    font-weight:normal!important;
}

.check_task {
    padding:var(--Task-Action-Btn-Padding-Y);
}

