:root {
    --Sidebar-Nav-List-Top-Gap:25px; /* was 100px */
    --Sidebar-Nav-Item-Padding-X:calc(var(--Sidebar-Width) * 0.15);
    --Sidebar-Nav-Item-Padding-Y:1em;
    --Sidebar-Nav-Item-Icon-Size:24px;
    --Sidebar-Nav-Item-Icon-Text-Gap:calc(var(--Sidebar-Width) * 0.07);
}

.menu {
    position:fixed;
    top:0;left:0;
    width:var(--Sidebar-Width);
    height:100vh;
    background:var(--Primary);
    z-index:5;
    /* display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    justify-content: space-between; */
    font-family:"century gothic regular";
}

.sidebar_list {
    margin:0;
    margin-top:var(--Sidebar-Nav-List-Top-Gap);
    padding:0;
}

.sidebar_list .row {
    margin:0;
    width: 100%;
    max-width:100%;
    box-sizing:border-box;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar_list .row:hover {
    background:var(--Primary-Medium);
}

.sidebar_list .row.active {
    background:var(--Primary-Medium);
}

.sidebar_list .row a {
    display:grid;
    align-items:center;
    grid-template-columns:var(--Sidebar-Nav-Item-Icon-Size) auto;
    grid-gap:0 var(--Sidebar-Nav-Item-Icon-Text-Gap);
    text-decoration:none;
    margin:0;
    width: 100%;
    max-width:100%;
    box-sizing:border-box;
    padding:var(--Sidebar-Nav-Item-Padding-Y) var(--Sidebar-Nav-Item-Padding-X);
    color:var(--Background);
}

.sidebar_list .row #icon svg {
    display:block;
    width:var(--Sidebar-Nav-Item-Icon-Size);
    height:var(--Sidebar-Nav-Item-Icon-Size);
}

.row #title {
    flex:70%;
}