/*------ FONT: BREVIA ------*/
@font-face {
    font-family: "Brevia Regular";
    src: local("Brevia-Regular"),
         url("./fonts/Brevia/Brevia-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Brevia Medium";
    src: local("Brevia-Medium"),
         url("./fonts/Brevia/Brevia-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Brevia Semibold";
    src: local("Brevia-Semibold"),
         url("./fonts/Brevia/Brevia-Semibold.ttf") format("truetype");
}

/*------ FONT: CENTURY GOTHIC ------*/
@font-face {
    font-family: "Century Gothic Regular";
    src: local("Century-Gothic-Regular"),
         url("./fonts/CenturyGothic/Century-Gothic-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Century Gothic Bold";
    src: local("Century-Gothic-Bold"),
         url("./fonts/CenturyGothic/Century-Gothic-Bold.ttf") format("truetype");
}

/*------ CSS VARIABLES ------*/
:root {
    --Navbar-Height:18vh;
    --Searchbar-Width:400px;
    --Searchbar-Height:40px;

    --Sidebar-Width:13vw;
    --Screen-Margins-X:30px;
    --Screen-Margins-Y:calc(18vh * 0.2);

    --Main-Board-Width:75%;
    --TaskBoard-Padding:25px;
    
    --Table-Headers-Padding-X:1.3em;
    --Table-Headers-Padding-Y:1em;
    --Table-Columns-Spacing:15px;

    --Center-Gap:25px;

    --Corner-Rounding:10px;

    --Rightside-Boxes-Spacing:20px;
    --Rightside-Boxes-Padding:14px;

    --CTA-Buttons-Top-Gap:25px;
    --CTA-Buttons-Width:225px;
    --CTA-Buttons-Padding-X:1em;
    --CTA-Buttons-Padding-Y:0.69em;
    --CTA-Buttons-Spacing:25px;
}

/*---- TEMPORARY LOGIN PAGE CSS ----*/
.nav_bar + div:not([class], [id]){
    --qbxny: calc(var(--Navbar-Height) / 3);
    position:absolute;
    top:0;left:0;
    margin-top:var(--qbxny);
    height:calc(100vh - var(--qbxny));
    left:50%;
    transform:translateX(-50%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:500px;
}

.nav_bar + div:not([class], [id]) label,
.nav_bar + div:not([class], [id]) input {
    display:block;
    text-transform:capitalize;
}

.nav_bar + div:not([class], [id]) label {
    font-family:"Brevia Medium";
    margin-bottom:0.6em;
}

.nav_bar + div:not([class], [id]) input {
    outline:none;
    font-family:inherit;
    font-size:inherit;
    color:var(--Text-Color);
    background:rgba(var(--Background-2-RGB), 0.5);
    padding:12px;
    border:1px solid var(--Background-2);
    border-radius:var(--Corner-Rounding);
}

.nav_bar + div:not([class], [id]) input + label {
    margin-top:1.5em;
}

.nav_bar + div:not([class], [id]) .submit,
.nav_bar + div:not([class], [id]) .logIn {
    margin-top:22px;    
}

.nav_bar + div:not([class], [id]) .submit h4,
.nav_bar + div:not([class], [id]) .logIn h4 {
    display:inline-block;
    margin:0;
    padding:10px 16px;
    border-radius:var(--Corner-Rounding);
    background:var(--Primary);
    font-family:"Century Gothic Bold";
    letter-spacing:0.3px;
    color:var(--Background);
    cursor:pointer;
}

.nav_bar + div:not([class], [id]) .logIn {
    position:relative;
}

.nav_bar + div:not([class], [id]) .logIn h4 {
    position:absolute;
    bottom:0;right:0;
    margin-bottom:22px;
}

.nav_bar + div:not([class], [id]) .submit h4:hover,
.nav_bar + div:not([class], [id]) .logIn h4:hover {
    background:var(--Primary-Medium);
}

/*---- RESPONSIVENESS / MEDIA QUERIES ----*/
@media(max-width: 1366px){
    :root {
        --Sidebar-Width: 235px;
    }
}

@media(max-width: 1000px){
    :root {
        --Sidebar-Width: 225px;
    }
}

@media(max-width: 800px){
    :root {
        --Sidebar-Width: 200px;
    }
}

/*------------------------------------*/

.App{
 /* display: flex; */
 /* flex-direction: row; */
}


.components{
 display: flex;
 flex-direction: row;
 /* border: 2px solid black; */
}