.message{
  border: 1px solid black;
  z-index: 20;
  position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-align: center;    
}
.cross{
  position: fixed;
  top:0%;
  right: 0%;
}